
html {
  background-color: black;
  font-family: Verdana;
  text-align: center;
  color: white;
}

.printfeel {
  font-size: 50px;
  font-weight: normal;
}

.littleprintfeel {
  font-size: 16px;
  color: aquamarine;
}

.centerplease {
  text-align: center;
}

.moreprintfeel {
  font-weight: 300;
  font-size: 42px;
}

.smallprintfeel {
  font-size: 21px;
  font-weight: 300;
  color: Gray;
}

.copyright {
  font-size: 21px;
  font-weight: 300;
  text-align: right;
  color: Gray;
}
